.fa{
    color:#d2ddef;
}
.fa-twitter:hover {
    color: #00aced;
}

.fa-facebook:hover {
    color: #3b5999;
}

.fa-medium:hover {
    color: #02b875;
}

.fa-github:hover {
    color: #131418;
}

.fa-rss:hover {
    color: #ff3300;
}

.fa-linkedin:hover {
    color: #0077B5;
}

.grad{

background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.card{
    padding: 1rem;
}
.card-title{
    color:#d2ddef;
}