body

    .app
        .upper-view
            .row.nomarg
                .col.s12.m12.l3.nopad.nomarg
                    include ./portfolio-view.jade                  
                .col.s12.m9.l9
                   .showcase-view
                    
        .lower-view
            .row
                .col.s12.m12.l3
                    include ./link-view.jade
                .col.s12.m9.l9
                    .skills-view
        
    
        