body

    .app
        .upper-view
            .row.nomarg
                .col.s12.m12.l3.nopad.nomarg
                    .row
                        include ./portfolio-view.jade
                        include ./link-view.jade                  
                .col.s12.m12.l9
                    include ./showcase-view.jade

        
    
        