body
    .app
        .upper-view
            .row
                .col.s12.m3.l3
                .col.s12.m9.l9
        .lower-view
            .row
                .col.s0.m3.l3
                .col.s12.m9.l9
        
    
        