.links-view
    .card.hoverable.grad
        .row.container.center-align
            .col.s12.m12.l12
                .card-title.center-align Contact me 
            
            
        .row
            .col.s4.m4.l4
                a.waves-effect.waves-light.btn.lv 
                    i.material-icons email
        
            .col.s4.m4.l4
                a.waves-effect.waves-light.btn.lv 
                    i.material-icons phone
     
            .col.s4.m4.l4
                a.waves-effect.waves-light.btn.lv 
                    i.fa.fa-download
         
   

