.portfolio-view
    .card.hoverable.grad
        .portfolio
            .row.portfolio-img.container.center-align
                img(src="asserts/img/me.jpg").circle.responsive-img.hoverable.pad
            span.card-title
                    .center-align Aniket Sharma
        .card-action
            .row.center-align
                .col.s2.icon-size.m2.l2
                    i.fa.fa-github.fa-2x
                .col.s2.icon-size.m2.l2
                    i.fa.fa-twitter.fa-2x
                .col.s2.icon-size.m2.l2
                    i.fa.fa-rss.fa-2x
                .col.s2.icon-size.m2.l2
                    i.fa.fa-linkedin.fa-2x
                .col.s2.icon-size.m2.l2
                    i.fa.fa-facebook.fa-2x
                .col.s2.icon-size.m2.l2
                    i.fa.fa-medium.fa-2x