.showcase-view
    .card.gradinv.hoverable
        .row
            .card-title.center-align Showcase
        .row
            .col.s12.m12.l4
                .card.nopad
                    .card-action.nopad.align-left
                       .updatemessage  <i class="fa fa-clock-o"></i> Updated 3 min ago
            .col.s12.m12.l4
                .card.nopad
                    .card-action.nopad.align-left
                        .updatemessage  <i class="fa fa-clock-o"></i> Updated 3 min ago
            .col.s12.m12.l4
                .card.nopad
                    .card-action.nopad.align-left
                        .updatemessage  <i class="fa fa-clock-o"></i> Updated 3 min ago
        .row
            .col.s6.m6.l3
                .card
            .col.s6.m6.l3
                .card
            .col.s6.m6.l3
                .card
            .col.s6.m6.l3
                .card
