.showcase-view
    .card.gradinv.hoverable
        .row
            .card-title.center-align Showcase
        .row.graph-view.center-align
            .col.s12.m12.l4
                .card.nopad#graph
                    .card.cograd.graph.hoverable
                        .card-title Graph
                        
                    .card-action.nopad.align-left
                       .updatemessage  <i class="fa fa-clock-o"></i> Updated 3 min ago
            .col.s12.m12.l4
                .card.nopad#graph
                    .card.cograd.graph.hoverable
                        .card-title Graph
                        
                    .card-action.nopad.align-left
                       .updatemessage  <i class="fa fa-clock-o"></i> Updated 3 min ago
            .col.s12.m12.l4
                .card.nopad#graph
                    .card.cograd.graph.hoverable
                        .card-title Graph
                        
                    .card-action.nopad.align-left
                       .updatemessage  <i class="fa fa-clock-o"></i> Updated 3 min ago
          
        .row.center-align
            .col.s6.m6.l2
                .card.statgrad.stats.hoverable
                    .card-title 22
                        .stats-type languages
            .col.s6.m6.l2
                .card.statgrad.stats.hoverable
                    .card-title 22
                        .stats-type languages
            .col.s6.m6.l2
                .card.statgrad.stats.hoverable
                    .card-title 22
                        .stats-type languages
            .col.s6.m6.l2
                .card.statgrad.stats.hoverable
                    .card-title 22
                        .stats-type languages
            .col.s6.m6.l2
                .card.statgrad.stats.hoverable
                    .card-title 22
                        .stats-type languages
            .col.s6.m6.l2
                .card.statgrad.stats.hoverable
                    .card-title 22
                        .stats-type languages 


